<div class="flex h-screen">

  <div class="hidden lg:flex items-center justify-center flex-1 bg-white text-black">
    <div class="max-w-md text-center">
      <img src="images/sign-up.png" alt="Sign up image" class="mx-auto" />
    </div>
  </div>

  <div class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center">
    <div class="max-w-md w-full p-6 flex flex-col gap-8">
      <h1 hlmH1>Sign Up</h1>
      <h3 hlmH3>Create an account with all time access and free </h3>

      <fin-sign-up-form />

      <div class="mt-4 text-sm text-center">
        <p hlmP>Already have an account? <a href="#">Login here</a>
        </p>
      </div>
    </div>
  </div>
</div>