<router-outlet></router-outlet>

<div class="flex">
  <img src="images/home2.jpeg" alt="logo" class="w-2/3" />
</div>

<div class="grid xl:grid-cols-3 lg:grid-cols-2 sm:grid-cols-1 gap-16 justify-center items-center p-10">
  <brn-progress hlm aria-labelledby='loading'>
    <brn-progress-indicator hlm />
  </brn-progress>

  <hlm-calendar [(date)]="selectedDate" [min]="minDate" [max]="maxDate" [disabled]="false" />

  <hlm-date-picker [min]="minDate" [max]="maxDate">
    <span>Pick a date</span>
  </hlm-date-picker>

  <div class='flex items-center p-4 m-4 w-fit space-x-4'>
    <hlm-skeleton class='w-12 h-12 rounded-full' />
    <div class='space-y-2'>
      <hlm-skeleton class='h-4 w-[250px]' />
      <hlm-skeleton class='h-4 w-[200px]' />
    </div>
  </div>

  <hlm-form-field>
    <input class="w-80" hlmInput type="email" placeholder="Email" />
    <hlm-hint>This is your email address.</hlm-hint>
  </hlm-form-field>

  <a target="_blank" href="https://github.com/goetzrobin/spartan" hlmBadge>This is madness. This is spartan.</a>

  <hlm-command>
    <hlm-command-search>
      <ng-icon hlm name="lucideSearch" class="inline-flex" />

      <input type="text" hlm-command-search-input placeholder="Type a command or search..." />
    </hlm-command-search>

    <hlm-command-list>
      <hlm-command-group>
        <hlm-command-group-label>Suggestions</hlm-command-group-label>

        <button hlm-command-item value="Calendar">
          <ng-icon hlm name="lucideCalendar" hlmCommandIcon />
          Calendar
        </button>
        <button hlm-command-item value="Search Emoji">
          <ng-icon hlm name="lucideSmile" hlmCommandIcon />
          Search Emoji
        </button>
        <button hlm-command-item value="Calculator">
          <ng-icon hlm name="lucidePlus" hlmCommandIcon />
          Calculator
        </button>
      </hlm-command-group>

      <hlm-command-separator />

      <hlm-command-group>
        <hlm-command-group-label>Settings</hlm-command-group-label>

        <button hlm-command-item value="Profile">
          <ng-icon hlm name="lucideUser" hlmCommandIcon />
          Profile
          <hlm-command-shortcut>⌘P</hlm-command-shortcut>
        </button>
        <button hlm-command-item value="Billing">
          <ng-icon hlm name="lucideWallet" hlmCommandIcon />
          Billing
          <hlm-command-shortcut>⌘B</hlm-command-shortcut>
        </button>
        <button hlm-command-item value="Settings">
          <ng-icon hlm name="lucideCog" hlmCommandIcon />
          Settings
          <hlm-command-shortcut>⌘S</hlm-command-shortcut>
        </button>
      </hlm-command-group>
    </hlm-command-list>
  </hlm-command>

  <hlm-tabs tab="account" class="w-full">
    <hlm-tabs-list class="w-full grid grid-cols-2" aria-label="tabs example">
      <button hlmTabsTrigger="account">Account</button>
      <button hlmTabsTrigger="password">Password</button>
    </hlm-tabs-list>
    <div hlmTabsContent="account">
      <section hlmCard>
        <div hlmCardHeader>
          <h3 hlmCardTitle>Account</h3>
          <p hlmCardDescription>Make changes to your account here. Click save when you're done.</p>
        </div>
        <p hlmCardContent>
          <label class="block my-4" hlmLabel>
            Name
            <input class="mt-1.5 w-full" value="Pedro Duarte" hlmInput />
          </label>
          <label class="block my-4" hlmLabel>
            Username
            <input class="mt-1.5 w-full" placeholder="@peduarte" hlmInput />
          </label>
        </p>
        <div hlmCardFooter>
          <button hlmBtn>Save Changes</button>
        </div>
      </section>
    </div>
    <div hlmTabsContent="password">
      <section hlmCard>
        <div hlmCardHeader>
          <h3 hlmCardTitle>Password</h3>
          <p hlmCardDescription>Change your password here. After saving, you'll be logged out.</p>
        </div>
        <p hlmCardContent>
          <label class="block my-4" hlmLabel>
            Old Password
            <input class="mt-1.5 w-full" type="password" hlmInput />
          </label>
          <label class="block my-4" hlmLabel>
            New Password
            <input class="mt-1.5 w-full" type="password" hlmInput />
          </label>
        </p>
        <div hlmCardFooter>
          <button hlmBtn>Save Password</button>
        </div>
      </section>
    </div>
  </hlm-tabs>
</div>
